@rendermode InteractiveServer
@inject UserService UserService
@inject IDbContextFactory<IdiomaticaContext> DbContextFactory
@inject ILogger<IdiomaticaLogger> Logger;
@using Logic.Services.API

<style>
    .visibleBlRow {
        display: block;
    }
    .invisibleBlRow {
        display: none;
    }

    .transport-control {
        font-size: 0.8rem;
    }

    .scoreEasy {
        background-color: #99ffcc;
        color: #004d26;
        font-weight: bold;
    }

    .scoreMedium {
        background-color: #ffffcc;
        color: #808000;
        font-weight: bold;
    }

    .scoreTough {
        background-color: #ffcccc;
        color: #800000;
        font-weight: bold;
    }
    
</style>

<ErrorAlert ErrorState="errorState"></ErrorAlert>
<AuthorizeView>
    <Authorized>

        
        
        @if (_isLoading)
        {
            <Button Color="ButtonColor.Primary" Loading="true" LoadingText="@UserService.GetUILabel("loading")" />
        }
        
        else
        {
                <div class="row">
                    @if (_bookListDataPacket.BookListRows is not null && _bookListDataPacket.BookListRows.Count < 1)
                    {
                        <p>
                            @UserService.GetUILabel("bookListNoBookNotice")
                        </p>
                    }
                </div>
                @if(IsBrowse == false)
                {
                    <div class="row">
                        <Button Color="ButtonColor.Primary" Type="ButtonType.Link" To="/Books/Browse">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                            </svg>
                            @UserService.GetUILabel("bookListBrowseForBooks")
                        </Button>
                    </div>
                }
                <BookListTransport dataPacket="_bookListDataPacket"
                               GetNext="GetNext"
                               GetPrevious="GetPrevious"
                               FilterAndSort="FilterAndSort"></BookListTransport>

            
            <div>
                @if (_bookListDataPacket.BookListRows is not null && _bookListDataPacket.BookListRows.Count > 0)
                {
                    @foreach (var row in _bookListDataPacket.BookListRows)
                    {
                        <BookListRowView Row="row"
                                         OnArchiveAsync="OnArchiveBookUser"
                                         OnAddAsync="OnAddBookUser" />
                    }
                }

            </div>

        }
    </Authorized>
    <NotAuthorized>
        <p>@UserService.GetUILabel("notLoggedIn")</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter] public bool IsBrowse { get; set;  }

    public ErrorState errorState = new ErrorState() { isError = false, errorMessage = "" };
    private bool _isLoading = false;
    private bool _isDataInitBookList = false;
    private User? _loggedInUser = null;
    private Logic.BookListDataPacket _bookListDataPacket = new();
    const int LoadingDelayMiliseconds = 500;





    protected override async Task OnInitializedAsync()
    {

        try
        {
            if (_isDataInitBookList == false)
            {
                _isLoading = true;

                var t_delay = Task.Delay(LoadingDelayMiliseconds);
                var context = await DbContextFactory.CreateDbContextAsync();
                _bookListDataPacket = new BookListDataPacket(context, IsBrowse);
                _loggedInUser = await UserService.GetLoggedInUserAsync(context);
                await ResetBookListAsync();
                _isDataInitBookList = true;
                await t_delay;
                _isLoading = false;
            }


        }
        catch (IdiomaticaException ex)
        {
            errorState.isError = true;
            errorState.errorMessage = UserService.GetUILabel("bookListInitializationError");
            errorState.code = ex.code;
            errorState.memberName = ex.memberName;
            errorState.sourceFilePath = ex.sourceFilePath;
            errorState.sourceLineNumber = ex.sourceLineNumber;
            StateHasChanged();
            return;
        }
        catch (Exception ex)
        {
            errorState.isError = true;
            errorState.errorMessage = UserService.GetUILabel("bookListInitializationError");
            StateHasChanged();
        }
    }

    private async Task ResetBookListAsync()
    {
        var context = await DbContextFactory.CreateDbContextAsync();
        if (_loggedInUser is null) return;


        _bookListDataPacket = await BookApi.BookListReadAsync(
            context, (Guid)_loggedInUser.Id, _bookListDataPacket);

    }


    private async Task OnArchiveBookUser(Guid bookId)
    {
        try
        {
            _isLoading = true;
            var t_delay = Task.Delay(LoadingDelayMiliseconds);
            var context = await DbContextFactory.CreateDbContextAsync();
            if (_loggedInUser is null)
            {
                ErrorHandler.LogAndThrow();
                return;
            }
            var bookUser = await BookUserApi.BookUserByBookIdAndUserIdReadAsync(context, bookId, (Guid)_loggedInUser.Id);
            if (bookUser is null)
            {
                ErrorHandler.LogAndThrow();
                return;
            }
            await BookUserApi.BookUserArchiveAsync(context, (Guid)bookUser.Id);
            // now pull a fresh copy of the book list
            await ResetBookListAsync();
            await t_delay;
            _isLoading = false;

        }
        catch (IdiomaticaException ex)
        {
            errorState.isError = true;
            errorState.errorMessage = UserService.GetUILabel("bookListRemoveBookError");
            errorState.code = ex.code;
            errorState.memberName = ex.memberName;
            errorState.sourceFilePath = ex.sourceFilePath;
            errorState.sourceLineNumber = ex.sourceLineNumber;
            StateHasChanged();
            return;
        }
    }
    private async Task OnAddBookUser(Guid bookId)
    {
        _isLoading = true;
        var t_delay = Task.Delay(LoadingDelayMiliseconds);
        var context = await DbContextFactory.CreateDbContextAsync();
        await context.Database.BeginTransactionAsync();
        try
        {
            if (_loggedInUser is null)
            {
                ErrorHandler.LogAndThrow();
                return;
            }

            // create the base bookUser
            var bookUser = Task.Run(() =>
            {
                return OrchestrationApi.OrchestrateBookUserCreationAndSubProcesses(
                context, bookId, (Guid)_loggedInUser.Id);
            }).Result;
            if (bookUser is null)
            {
                ErrorHandler.LogAndThrow();
                return;
            }
           
            // finally commit the write
            await context.Database.CommitTransactionAsync();
        }
        catch (IdiomaticaException ex)
        {
            await context.Database.RollbackTransactionAsync();
            errorState.isError = true;
            errorState.errorMessage = UserService.GetUILabel("bookListRemoveBookError");
            errorState.code = ex.code;
            errorState.memberName = ex.memberName;
            errorState.sourceFilePath = ex.sourceFilePath;
            errorState.sourceLineNumber = ex.sourceLineNumber;
            StateHasChanged();
            return;
        }
        finally
        {
            
            await t_delay;
            _isLoading = false;
        }
    }

    private async Task GetNext()
    {
        try
        {
            _isLoading = true;
            var t_delay = Task.Delay(LoadingDelayMiliseconds);
            await BookListRowsNext();
            await t_delay;
            _isLoading = false;

        }
        catch (IdiomaticaException ex)
        {
            errorState.isError = true;
            errorState.errorMessage = UserService.GetUILabel("bookListRefreshError");
            errorState.code = ex.code;
            errorState.memberName = ex.memberName;
            errorState.sourceFilePath = ex.sourceFilePath;
            errorState.sourceLineNumber = ex.sourceLineNumber;
            StateHasChanged();
            return;
        }
    }
    private async Task GetPrevious()
    {
        try
        {
            _isLoading = true;
            var t_delay = Task.Delay(LoadingDelayMiliseconds);
            await BookListRowsPrevious();
            await t_delay;
            _isLoading = false;

        }
        catch (IdiomaticaException ex)
        {
            errorState.isError = true;
            errorState.errorMessage = UserService.GetUILabel("bookListRefreshError");
            errorState.code = ex.code;
            errorState.memberName = ex.memberName;
            errorState.sourceFilePath = ex.sourceFilePath;
            errorState.sourceLineNumber = ex.sourceLineNumber;
            StateHasChanged();
            return;
        }
    }
    private async Task FilterAndSort()
    {
        try
        {
            _isLoading = true;
            var t_delay = Task.Delay(LoadingDelayMiliseconds);
            await BookListRowsFilterAndSort();
            await t_delay;
            _isLoading = false;

        }
        catch (IdiomaticaException ex)
        {
            errorState.isError = true;
            errorState.errorMessage = UserService.GetUILabel("bookListRefreshError");
            errorState.code = ex.code;
            StateHasChanged();
            return;
        }
    }
    private async Task BookListRowsNext()
    {
        _bookListDataPacket.SkipRecords += _bookListDataPacket.BookListRowsToDisplay;
        await ResetBookListAsync();
    }
    private async Task BookListRowsPrevious()
    {
        _bookListDataPacket.SkipRecords -= _bookListDataPacket.BookListRowsToDisplay;
        if (_bookListDataPacket.SkipRecords < 0) _bookListDataPacket.SkipRecords = 0;
        await ResetBookListAsync();
    }
    public async Task BookListRowsFilterAndSort()
    {
        _bookListDataPacket.SkipRecords = 0;
        await ResetBookListAsync();
    }
}
