@page "/ModalParagraph"
@rendermode InteractiveServer
@inject UserService UserService;
@inject IDbContextFactory<IdiomaticaContext> DbContextFactory;
@using System.Text;
@using Logic.Services.API
@using Model.Enums


@* Modal for paragraph translation *@
<Modal @ref="ppModal" title="@_title" IsVerticallyCentered="true" Size="ModalSize.Large">
    <BodyTemplate>
        <p>@_translateFrom</p>
        <hr />
        <p>@_translateTo</p>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHidePpModalClick">
            @UserService.GetUILabel("closeButton")
        </Button>
    </FooterTemplate>
</Modal>



@code {

    [Parameter]
    public Language? LanguageFrom { get; set; }
    [Parameter]
    public Language? LanguageTo { get; set; }


    private Modal ppModal = default!;
    private string? _title;
    private string? _translateFrom;
    private string? _translateTo;


    public async Task OnShowPpModalClick(Paragraph pp)
    {
        if (pp is null)
        {
            ErrorHandler.LogAndThrow();
            return;
        }
        if (LanguageFrom is null) 
        {
            ErrorHandler.LogAndThrow();
            return;
        }
        if (LanguageTo is null)
        {
            ErrorHandler.LogAndThrow();
            return;
        }
        _title = $"{UserService.GetUILabelF("ppModalTitle", [LanguageFrom.Name, LanguageTo.Name])}";
        var context = await DbContextFactory.CreateDbContextAsync();

        var translation = await ParagraphApi.ParagraphTranslateAsync(
            context, pp, LanguageFrom.Code, LanguageTo.Code);
        _translateFrom = translation.input;
        _translateTo = translation.output;
        await ppModal.ShowAsync();
    }
    private async Task OnHidePpModalClick()
    {
        await ppModal.HideAsync();
    }
}
