@page "/Books/Mine"
@rendermode InteractiveServer
@inject UserService UserService;
@inject IDbContextFactory<IdiomaticaContext> DbContextFactory

<h3>@UserService.GetUILabel("navYourBookshelf")</h3>

<ErrorAlert ErrorState="errorState"></ErrorAlert>
<AuthorizeView>
    <Authorized>
        <BooksList IsBrowse="false" />
    </Authorized>
    <NotAuthorized>
        <p>@UserService.GetUILabel("notLoggedIn")</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    public ErrorState errorState = new ErrorState() { isError = false, errorMessage = "" };
}