.completedMarker {
    color:#008800;
    text-align: right;
    padding-right: 1em;
}
.sortLink {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
.readParagraph {
    text-indent: 2em;
    margin-bottom: 1en;
}
